<nav class="nav">
  <div class="container">
    <div class="nav-container ">
      <div></div>
      <div>
        <a href="https://www.linkedin.com/in/vinit-paul-2a72b7143/" class="btn header-text" target="_blank"
          rel="noopener noreferrer"><span><img [src]=linkedinmagePath alt="" class="contact-img"></span></a>
        <a href="https://github.com/paul2596" class="btn header-text" target="_blank"
          rel="noopener noreferrer"><span><img [src]=gitimagePath alt="" class="contact-img"></span></a>
      </div>

    </div>

  </div>
</nav>
<div class="section section-md py-5 padding-0">
  <div class="image-container">
    <img [src]=imagePath alt="" class="header-img">
    <!-- <div class="overlay-text"><h4 class="header-text">Hi, I'm Vinit Paul </h4>
    <div><span  class="header-text">Data Scientist | Full Stack Web Developer</span></div>
    </div> -->
    <div class="overlay-text">
      <div class="speech-bubble round float bubble-position">
        <div>Hi, I'm Vinit Paul </div>
        <div>Data Scientist | Full Stack Web Developer</div>

      </div>


    </div>

  </div>
</div>
<!-- Projects  -->
<div class="section section-md py-5">
  <h2 class="section-title">Projects</h2>
  <div class="container">
    <ul class="nav nav-tabs project-tabs ">
      <li class="nav-item">
        <a class="nav-link padding-12"
          [ngClass]="{'project-tab-active': selectedTabButton=='Masters', 'project-tab-inactive': selectedTabButton!='Masters'}"
          (click)="selectTab('Masters')">Data Science Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link padding-12"
          [ngClass]="{'project-tab-active': selectedTabButton=='Bachelors', 'project-tab-inactive': selectedTabButton!='Bachelors'}"
          (click)="selectTab('Bachelors')">Analysis Projects-Mechanical Engineering</a>
      </li>
    </ul>
    <div class="card projects-tab-card">
      <!--Masters Projects-->
      <div [hidden]="selectedTabButton!='Masters'">
        <div class="projects-button-row">
          <button class="btn btn-primary" (click)="selectButton('Pinned Projects')"
            [ngClass]="{'button-custom-color': selectedButton=='Pinned Projects', 'not-selected': selectedButton!='Pinned Projects'}">Project
            Highlights</button>
          <button class="btn btn-primary" (click)="selectButton('All Projects')"
            [ngClass]="{'button-custom-color': selectedButton=='All Projects', 'not-selected': selectedButton!='All Projects'}">All
            Project Details
          </button>
          <!-- <button class="btn btn-primary" (click)="selectButton('Exploratory Data Analysis')"
            [ngClass]="{'button-custom-color': selectedButton=='Exploratory Data Analysis', 'not-selected': selectedButton!='Exploratory Data Analysis'}">Exploratory
            Data Analysis</button>
          <button class="btn btn-primary" (click)="selectButton('Visualization')"
            [ngClass]="{'button-custom-color': selectedButton=='Visualization', 'not-selected': selectedButton!='Visualization'}">Visualization</button>
          <button class="btn btn-primary" (click)="selectButton('Machine Learning')"
            [ngClass]="{'button-custom-color': selectedButton=='Machine Learning', 'not-selected': selectedButton!='Machine Learning'}">Machine
            Learning</button>
          <button class="btn btn-primary" (click)="selectButton('Deep Learning')"
            [ngClass]="{'button-custom-color': selectedButton=='Deep Learning', 'not-selected': selectedButton!='Deep Learning'}">Deep
            Learning</button>
          <button class="btn btn-primary" (click)="selectButton('Image Processing')"
            [ngClass]="{'button-custom-color': selectedButton=='Image Processing', 'not-selected': selectedButton!='Image Processing'}">Image
            Processing</button> -->
        </div>
        <div [hidden]="selectedButton!='Pinned Projects'">
          <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
              <div class="card project-card">
                <h6>Analyzed the Impact of Using Additional Weather Information on the Accuracy of Power Production
                  Models for
                  Offshore Wind Turbines</h6>
                <div class="ratio ratio-16x9">
                  <img src="/assets/offshore-turbine.jpg" alt="">
                </div>
                <ul id="proj-list-turbine" class="proj-list-height">
                  <li>Collaborated closely with supervisors from the <b>National Innovation Center for
                    Data,
                    UK</b>
                    and <b>Equinor, Norway,</b> in the execution of the project.</li>
                  <li >Conducted in-depth analysis on atmospheric features and <span *ngIf="!showMoreTurbineItems">...</span> <span *ngIf="showMoreTurbineItems">stability parameters (e.g., Obukhov Length) by integrating turbine and climate reanalysis data from numerical weather prediction models.</span></li>
                  <li *ngIf="showMoreTurbineItems">Executed directional analysis to examine the impact of various features on power prediction during wind flow over land and sea.</li>
                  <li *ngIf="showMoreTurbineItems">Deployed trained models using Flask (Python backend) and AngularJS for interactive frontend interactions in a web-based environment.</li>
                </ul>
                <button (click)="toggleTurbineItems()">View {{ showMoreTurbineItems ? 'Less' : 'More' }}</button>
                <a href="https://github.com/paul2596/oswt_app" class="btn btn-primary margin-top-10" target="_blank"
                  rel="noopener noreferrer">Visit GitHub Repo</a>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
              <div class="card project-card">
                <h6>Built Visualization Dashboards to get Insights on the Spread of an Airborne Disease in Manchester
                  from Simulated Data&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6>
                <div class="ratio ratio-16x9">
                  <img src="/assets/data-viz.png" alt="">
                </div>
                <ul id="proj-list-viz" class="proj-list-height">
                  <li>Pre-processed and transformed data obtained from outputs of supercomputer simulations from
                    Defence Science
                    and Technology Laboratory (DSTL) and Public Health England(PHE).</li>
                  <li *ngIf="showMoreVizItems">Developed interactive dashboards to communicate data patterns effectively.</li>
                  <li *ngIf="showMoreVizItems">Addressed visualization needs, incorporating Gestalt design principles and color-blind-friendly palettes.</li>
                  <li *ngIf="showMoreVizItems">Enhanced user experience by implementing customized filters using the Haversine equation for radial disease spread based on regional coordinates.</li>
                </ul>
                <button (click)="toggleVizItems()">View {{ showMoreVizItems ? 'Less' : 'More' }}</button>
                <a href="https://github.com/paul2596/data_visualization_sep_2022" class="btn btn-primary margin-top-10" target="_blank"
                  rel="noopener noreferrer">Visit GitHub Repo</a>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
              <div class="card project-card">
                <h6>Built Multiple Automated Scrapers To Extract Useful Information About Companies for a Data Science
                  Hackathon and Won the Hackathon</h6>
                <div class="ratio ratio-16x9">
                  <img src="/assets/selenium-python-img.png" alt="">
                </div>
                <ul id="proj-list-hackathon" class="proj-list-height">
                  <li>Scraped data for a set of companies from various sources like public linkedin profiles, public
                    registries</li>
                  <li>Accumulated data pertaining to company specialities, technology, capital, shares and other
                    information
                  </li>
                  <li *ngIf="showMoreHackathonItems">Preprocessed the raw data and managed the data using PostgreSQL</li>
                  <li *ngIf="showMoreHackathonItems">Presented the methodology used and outcome to the organizers</li>
                </ul>
                <button (click)="toggleHackathonItems()">View {{ showMoreHackathonItems ? 'Less' : 'More' }}</button>
                <a href="https://github.com/paul2596/Data-Science-Hackathon" class="btn btn-primary margin-top-10" target="_blank"
                  rel="noopener noreferrer">Visit GitHub Repo</a>
              </div>
            </div>
          </div>

        </div>
        <div [hidden]="selectedButton!='All Projects'">
          <div class="row">
            <div class="col-md-4 text-center mx-auto margin-top-10">
              <h4>
                Projects Timeline
              </h4>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-md-10 mx-auto">
              <!-- Timeline -->
              <div class="timeline timeline-one">
                <!-- Timeline Item 1 -->
                <div class="timeline-item">
                  <h5 class="my-3">
                    May-August 2023: </h5>
                  <h5>Analyzed the Impact of Using Additional Weather Information on the Accuracy of Power Production
                    Models
                    for
                    Offshore Wind Turbines</h5>
                  <ul class="text-justify">
                    <li>Collaborated closely with supervisors from the <b>National Innovation Center for
                      Data,
                      UK</b>
                      and <b>Equinor, Norway,</b> in the execution of the project.</li>
                    <li>Carried out an comprehensive analysis to study impact of additional atmospheric features and
                      atmospheric stability parameter like Obukhov Length by combining data from the turbine and weather
                      information from climate reanalysis data generated from numerical weather prediction models .</li>
                    <li>A directional analysis was carried out to study influence of features on power prediction when
                      wind
                      flows across land and across sea.</li>
                    <li>The trained models were then deployed using flask framework with python for backend and
                      AngularJS to
                      perform interactions at the front end.</li>
                  </ul>
                  <div class="center-align">
                    <a href="https://github.com/paul2596/oswt_app" class="btn btn-primary" target="_blank"
                      rel="noopener noreferrer">GitHub Repo</a>
                  </div>
                </div>
                <!-- Timeline Item 2 -->
                <div class="timeline-item">
                  <h5 class="my-3">April 2023</h5>
                  <h5 class="my-3"> Participated and Won the Data Science Hackathon organized by Newcastle University
                  </h5>
                  <ul class="text-justify">
                    <li>Scraped data for a set of companies from various sources like public linkedin profiles, public
                      registries</li>
                    <li>Accumulated data pertaining to company specialities, technology, capital, shares and other
                      information
                    </li>
                    <li>Preprocessed the raw data and managed the data using PostgreSQL</li>
                    <li>Presented the methodology used and outcome to the organizers</li>
                  </ul>
                  <div class="center-align">
                    <a href="https://github.com/paul2596/Data-Science-Hackathon" class="btn btn-primary" target="_blank"
                      rel="noopener noreferrer">GitHub Repo</a>
                  </div>
                </div>
                <!-- Timeline Item 3 -->
                <div class="timeline-item">
                  <h5 class="my-3">March 2023</h5>
                  <h5 class="my-3">Analyzed employment data for a Care Home</h5>
                  <ul class="text-justify">
                    <li>Explored various features to understand the factors influencing hiring decisions.</li>
                    <li>Developed a predictive model for estimating the expected years of service.</li>
                    <li>Developed a Power BI dashboard for interactive data visualization.</li>
                    <li>Deployed the Power BI dashboard on a Shiny application for reporting and stakeholder
                      accessibility.</li>
                  </ul>
                </div>
                <div class="timeline-item">
                  <h5 class="my-3">February 2023</h5>
                  <h5 class="my-3">Fine Grained Image Classification</h5>
                  <ul class="text-justify">
                    <li>Used transfer learning techniques to develop and fine-tune models for the precise classification
                      of visually similar bird species. </li>
                    <li>Implemented models like Xception with pre-trained weights, also used parallel configurations of
                      models like VGG-16 for the classification task.</li>
                  </ul>
                  <div class="center-align">
                    <a href="https://github.com/paul2596/fine_grained_image_classifier" class="btn btn-primary"
                      target="_blank" rel="noopener noreferrer">GitHub Repo</a>
                  </div>
                </div>
                <div class="timeline-item">
                  <h5 class="my-3">February 2023</h5>
                  <h5 class="my-3">Generated Images using CycleGAN</h5>
                  <ul class="text-justify">
                    <li>Used preprocessing techniques to enhance image quality and performed data augmentation</li>
                    <li>Used keras based CycleGAN model which was then trained and tuned on celebrity images to stylize
                      and transform
                      image to a cat/dog</li>
                  </ul>
                </div>
                <div class="timeline-item">
                  <h5 class="my-3">January 2023</h5>
                  <h5 class="my-3">Sci-Fi Text Generation</h5>
                  <ul class="text-justify">
                    <li>Prepared a cleaning algorithm based on the template of the Sci-Fi novel being trained on to
                      remove irrelevant text.</li>
                    <li>Designed a text generation algorithm utilizing LSTM and GRU based networks which could be tuned
                      based on a
                      randomness factor</li>
                  </ul>
                </div>
                <div class="timeline-item">
                  <h5 class="my-3">January 2023</h5>
                  <h5 class="my-3">Scalable Analysis of NYC Taxi Rides Using Apache Spark and Zonal Analysis on Neo4J
                  </h5>
                  <ul class="text-justify">
                    <li>Combined the power of Apache Spark for scalable data processing and Neo4j Graph Database for
                      graph analytics on the NYC Taxi rides dataset.</li>
                    <li>Utilized Spark's parallel processing capabilities for efficient data preprocessing.</li>
                    <li>Built a pipeline to carry out all the preprocessing tasks on different dataset sizes ranging
                      from 3M to 130M taxi rides.</li>
                    <li>Evaluated and showcased the performance of the Spark code on datasets</li>
                    <li>Also studied the profitability and passenger volumes in different trips which were used to
                      create graph nodes representing trip start and end zones in Neo4J.</li>
                    <li>Plotted a heat map to visualize the most used, least used, and profitable zones.</li>
                  </ul>
                </div>
                <div class="timeline-item">
                  <h5 class="my-3">December 2022</h5>
                  <h5 class="my-3">Analyzed Datasets Related to US Road Traffic Accidents to Predict the Severity Using
                    Machine Learning</h5>
                  <ul class="text-justify">
                    <li>Performed preprocessing like normalization, feature selection, class imbalance correction using
                      SMOTE</li>
                    <li>Built several machine learning models using Logistic regression, KNN, Random Forest</li>
                    <li>Performed Kfold Cross validation and hyperparameter</li>
                    <li>Identified best performing model by comparing test accuracies</li>
                  </ul>
                </div>

                <div class="timeline-item">
                  <h5 class="my-3">December 2022</h5>
                  <h5 class="my-3">Image Denoising in Frequency Domain Using Fourier Transform Based Algorithm</h5>
                  <ul class="text-justify">
                    <li>Performed preprocessing to normalize and resize images.</li>
                    <li>Built an algorithm to denoise image in frequency domain by analyzing power spectrum for
                      different noise levels</li>
                    <li>Created a pipeline to handle denoising for different noise levels for unseen images</li>
                    <li>Compared the performance of the custom algorithm with well established methods like mean,
                      median, Bayes, Visushrink using metrics like MSE, SSIM </li>
                  </ul>
                  <div class="center-align">
                    <a href="https://github.com/paul2596/Image-Denoising-in-Frequency-Domain-dec_2022"
                      class="btn btn-primary" target="_blank" rel="noopener noreferrer">GitHub Repo</a>
                  </div>
                </div>
                <div class="timeline-item">
                  <h5 class="my-3">November 2022</h5>
                  <h5 class="my-3">Analyzed data from Massive Open Online Courses (MOOCs) offered by Newcastle
                    University on
                    FutureLearn</h5>
                  <ul class="text-justify">
                    <li>Conducted in-depth analysis of a Massive Open Online Course (MOOC) offered by Newcastle
                      University on FutureLearn.</li>
                    <li>Investigated learner engagement, demographics, course content effectiveness, assessment
                      performance, time-based trends, technology usage(desktop/mobile), feedback analysis.</li>
                    <li>Followed best industrial practices in data analysis by adhering to the CRISP-DM process.</li>
                    <li>Successfully built a pipeline to preprocess, analyze and generate reports using R programming
                      with a CRISP-DM framework</li>
                  </ul>
                </div>
                <div class="timeline-item">
                  <h5 class="my-3">October 2022</h5>
                  <h5 class="my-3">Breast Cancer Classifier</h5>
                  <ul class="text-justify">
                    <li>Developed a breast cancer classifier to distinguish between malignant and benign tumors.</li>
                    <li>Conducted thorough data preprocessing and cleaning to ensure data quality.</li>
                    <li>Used Best Subset Selection method to identify the most relevant features for classification.
                    </li>
                    <li>Constructed classifiers using different methods like Logistic Regression with Lasso penalty and
                      Linear Discriminant Analysis.</li>
                    <li>Evaluated test errors for each classifier to assess their performance.</li>
                  </ul>
                </div>
                <div class="timeline-item">
                  <h5 class="my-3">September 2022</h5>
                  <h5 class="my-3">Statstical Analysis on Penguin Species for Non-Invasive Gender Identification</h5>
                  <ul class="text-justify">
                    <li>Employed EDA techniques for dataset understanding.</li>
                    <li>Explored relationships between features.</li>
                    <li>Formulated hypotheses for gender differentiation.</li>
                    <li>Used graphs and charts for effective visual communication.</li>
                  </ul>
                </div>
                <div class="timeline-item">
                  <h5 class="my-3">September 2022</h5>
                  <h5 class="my-3">Built Visualization Dashboards to get Insights on the Spread of an Airborne Disease
                    in
                    Manchester from Simulated Data</h5>
                  <ul class="text-justify">
                    <li>Pre-processed and transformed data obtained from outputs of supercomputer simulations from
                      Defence Science
                      and Technology Laboratory (DSTL) and Public Health England(PHE).</li>
                    <li>Developed interactive dashboards to communicate data patterns effectively.</li>
                    <li>Addressed visualization needs, incorporating Gestalt design principles and color-blind-friendly palettes.</li>
                    <li>Enhanced user experience by implementing customized filters using the Haversine equation for radial disease spread based on regional coordinates.</li>
                  </ul>
                  <div class="center-align">
                    <a href="https://github.com/paul2596/data_visualization_sep_2022" class="btn btn-primary"
                      target="_blank" rel="noopener noreferrer">GitHub Repo</a>
                  </div>
                </div>
              </div>
              <!--End of Timeline-->
            </div>
          </div>
        </div>
        <div [hidden]="selectedButton!='Image Processing'">
          <div class="grid-cards">
            <div class="card bachelor-proj">
              <h6>Image Denoising in Frequency Domain Using Fourier Transform Based Algorithm</h6>
              <div class="ratio ratio-16x9 ">
                <img src="/assets/image-processing.png" alt="">
              </div>
              <a href="https://github.com/paul2596/oswt_app" class="btn btn-primary" target="_blank"
                rel="noopener noreferrer">GitHub Repo</a>
            </div>
          </div>
        </div>
      </div>
      <!--Bachelors Projects-->
      <div [hidden]="selectedTabButton!='Bachelors'">
        <div class="row">
          <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="card bachelor-proj">
              <h6>
                Analysis of the Effectiveness of HVOF Coating on Turbine and Boiler Materials Subjected to Hot Corrosion
                (2018)</h6>
              <div class="ratio ratio-16x9 margin-bottom-10">
                <img src="/assets/hvof-image.png" alt="">
              </div>
              <ul class="ul-text">
                <li>Visualized weight changes across cycles helped understand material behavior.</li>
                <li>Identified surface composition changes through XRD(X-Ray Diffraction) and cluster analysis.</li>
                <li>Carried out Analysis on the SEM(Scanning Electron Microscope) data revealing topography changes.
                </li>
                <li>Co-authored a research paper published in the International Journal for Science and Advance Research
                  In Technology.</li>
              </ul>
              <a href="https://ijsart.com/Content/PDFDocuments/IJSARTV4I523511.pdf" class="btn btn-primary"
                target="_blank" rel="noopener noreferrer">View Report</a>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="card bachelor-proj">
              <h6>Design, Analysis and Fabrication of an Electric Solar Vehicle (2017)</h6>
              <div class="ratio ratio-16x9 margin-bottom-10">
                <img src="/assets/solar-car-img.PNG" alt="">
              </div>
              <ul class="ul-text">
                <li>Used SolidWorks for comprehensive design and structural analysis.</li>
                <li>Analyzed to identify potential failure sites, which were refined over several iterations, thus
                  improving the design and raising the Factor of Safety.</li>
                <li>Presented the analysis findings to stakeholders to obtain design approval for the solar vehicle.
                </li>
                <li>Participated in a national level competition organized by Imperial Society of Innovative Engineers
                  (ISIEINDIA), where the fabricated vehicle was subjected to different types of testing to assess the
                  vehicles performance, stability and reliability.</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="card bachelor-proj">
              <h6>Design and Development of an ATV
                (2016)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6>
              <div class="ratio ratio-16x9 margin-bottom-10">
                <img src="/assets/atv-img.jpg" alt="">
              </div>
              <ul class="ul-text">
                <li>Worked on the Design and analysis of the ATV's roll cage, ensuring structural integrity and safety
                  under various conditions.</li>
                <li>Identified key points for suspension, for optimum performance and stability across diverse terrains.
                </li>
                <li>Worked on the fabrication process to bring the design to life.</li>
                <li>Engaged in comprehensive testing procedures, fine-tuning the ATV to optimize performance,
                  reliability, and safety.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>

<!--Work Experience-->
<div class="section section-md py-5 alternate-section-background">
  <h2 class="section-title">Work Experience</h2>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="card work-exp-card">
          <h5>Data Science Research Assistant</h5>
          <i>Part Time</i>
          <p>Aug 2023</p>
          <div class="divider"></div>
          <div class="chip"><a href="https://www.ncl.ac.uk/" target="_blank" rel="noopener noreferrer"
              class="work-exp-web">Newcastle University</a></div>
          <ul class="work-details-font">
            <li>Worked as a Research Assistant, actively contributing to the development of a prototype for an analysis dashboard proposed to an esteemed organization. </li>
            <li>Built automated web scrapers using selenium in python for data extraction.</li>
            <li>Preprocessed and managed data using python and PostgreSQL.</li>
            <li>Carried out various NLP based analysis to extract insights on the raw data like clustering, LDA (Latent
              Discriminant Analysis).</li>
            <li>Built a standalone application based on Flask Framework and presented the analysis on the web application by integrating analysis from python and dashboards from
              PowerBI </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="card work-exp-card">
          <h5>Full Stack Web Developer</h5>
          <i>Full time</i>
          <p>2018 - 2021</p>
          <div class="divider"></div>
          <div class="chip"><a href="https://www.tcs.com/" target="_blank" rel="noopener noreferrer"
              class="work-exp-web">Tata Consultancy Services</a></div>
          <ul class="work-details-font">
            <li>Developed applications utilizing a tech stack that included, Java, AngularJS, HTML, CSS, Spring,
              Hibernate, PostgreSQL, NoSQL (Solr), and Git, following Agile methodology.</li>
            <li>Developed a streamlined job opportunity portal, built interactive tools for agile productivity,
              implemented and maintained functionalities for a application showcasing company products.</li>
            <li>Improved the user experience by enhancing the feedback system for the application.</li>
            <li>Implemented access governance mechanisms within application services, ensuring security, for role based
              access to end users. </li>
            <li>Built interactive dashboards accessible by stakeholders for visual insights on application rating, user
              traffic and other stats.</li>
            <!-- <li>Collaborated with stakeholders, gathered requirements, and ensured timely delivery. Played a key role in onboarding and training new team members.</li> -->
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
<!--Skills-->
<div class="section section-md py-5">
  <h2 class="section-title">Skills & Awards</h2>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div>
          <div class="chip">Skills</div>
          <div class="sub-three-grid-cards">
            <div class="new-col">
              <div class="skill-card">
                <div><img [src]=pythonImagePath alt="" class="skills-img"></div>
                <div class="card-title">Python</div>
                <!-- <div class="progress--cover">
                  <div class="html--progress"></div>
                </div> -->
              </div>
              <div class="skill-card">
                <div><img [src]=powerbiImagePath alt="" class="skills-img"></div>
                <div class="card-title">Power BI</div>
              </div>
              <div class="skill-card">
                <div><img [src]=rImagePath alt="" class="skills-img"></div>
                <div class="card-title">R</div>
              </div>

              <div class="skill-card">
                <div><img [src]=javaImagePath alt="" class="skills-img"></div>
                <div class="card-title">Java</div>
              </div>
              <div class="skill-card">
                <div><img [src]=tensorflowImagePath alt="" class="skills-img"></div>
                <div class="card-title">Tensorflow</div>
              </div>
            </div>
            <div class="new-col">
              <div class="skill-card">
                <div><img [src]=pysparkImagePath alt="" class="skills-img"></div>
                <div class="card-title">PySpark</div>
              </div>
              <div class="skill-card">
                <img [src]=scikitlearnImagePath alt="" class="skills-img">
                <div class="card-title">scikit learn</div>
              </div>
              <div class="skill-card">
                <img [src]=matplotlibImagePath alt="" class="skills-img">
                <div class="card-title">Matplotlib</div>
              </div>
              <div class="skill-card">
                <img [src]=cssImagePath alt="" class="skills-img">
                <div class="card-title">CSS</div>
              </div>
              <div class="skill-card">
                <img [src]=angularImagePath alt="" class="skills-img">
                <div class="card-title">Angular</div>
              </div>
            </div>
            <div class="new-col">

              <div class="skill-card">
                <img [src]=postgresqlImagePath alt="" class="skills-img">
                <div class="card-title">PostgreSQL </div>
              </div>
              <div class="skill-card">
                <img [src]=tableauImagePath alt="" class="skills-img">
                <div class="card-title">Tableau</div>
              </div>
              <div class="skill-card">
                <img [src]=flaskImagePath alt="" class="skills-img">
                <div class="card-title">Flask</div>
              </div>
              <div class="skill-card">
                <img [src]=htmlflowImagePath alt="" class="skills-img">
                <div class="card-title">HTML</div>
              </div>
              <div class="skill-card">
                <img [src]=gitImagePath alt="" class="skills-img">
                <div class="card-title">GIT</div>
              </div>
            </div>
          </div>
        </div>



      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div>
          <div class="chip">Awards</div>

          <div class="card margin-bottom-5">
            <p>2023</p>
            <p><b>Won a Data Science Hackathon</b> - Newcastle University</p>
          </div>
          <div class="card margin-bottom-5">
            <p>2020</p>
            <p><b>Special Initiative Award</b> - Tata Consultancy Services</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Education-->
<div class="section section-md py-5 alternate-section-background">
  <h2 class="section-title">Education</h2>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="card education-card">
          <p>2022 - 2023</p>
          <p><b>MSc in Data Science (with Specialization in AI)</b> </p>
          <p>Newcastle University</p>
          <p class="text-14">Grade:<b>Distinction</b></p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="card education-card">
          <p>2014 - 2018</p>
          <p><b> B.Tech in Mechanical Engineering
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
          </p>
          <p>Reva University</p>
          <p class="text-14">Grade:<b>Distinction</b></p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="card education-card">
          <p>2012 - 2014</p>
          <p><b>Pre-University - Physics, Chemistry, Mathematics, Computer Science</b></p>
          <p>St. Josephs Pre University College</p>
          <p class="text-14">Grade:<b>Distinction</b></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Hobbies and Interests-->
<div class="section section-md py-5">
  <h2 class="section-title">Hobbies and Interests</h2>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="card flex-row">
          <img [src]=runningImagePath alt="" class="hobbies-img">
          <div class="card-body custom-card-body">
            <span class="card-title h5 h4-sm">Running</span>
            <div>
              <a href="https://www.runtastic.com/user/dd4d5e31-cacf-3c45-02d2-6e99a86d8a9d"
                class="btn btn-primary hobbies-btn" target="_blank" rel="noopener noreferrer">Adidas Running</a>
              <a href="https://www.strava.com/athletes/10106337" class="btn btn-primary hobbies-btn" target="_blank"
                rel="noopener noreferrer">Strava</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="card flex-row">
          <img [src]=gamingImagePath alt="" class="hobbies-img">
          <div class="card-body custom-card-body">
            <span class="card-title h5 h4-sm">Gaming</span>
            <div>
              <a href="https://steamcommunity.com/id/paul_jr/" class="btn btn-primary hobbies-btn" target="_blank"
                rel="noopener noreferrer">Steam Profile</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="card flex-row">
          <img [src]=booksImagePath alt="" class="hobbies-img">
          <div class="card-body custom-card-body">
            <span class="card-title h5 h4-sm">Reading</span>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="card flex-row">
          <img [src]=bingeImagePath alt="" class="hobbies-img">
          <div class="card-body custom-card-body">
            <span class="card-title h5 h4-sm">Binge-watching</span>
            <div>
              <a href="https://mydramalist.com/list/47a0jxNL" class="btn btn-primary hobbies-btn" target="_blank"
                rel="noopener noreferrer">K-Drama List</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<footer>
  <div class="container footer-text">
    &copy;Developed and Maintained by Vinit Paul
  </div>
</footer>
